<?xml version="1.0"?>
<config>
    <default>
        <gallerysetting>
            <heliossetting>
                <videowidth>655</videowidth>
            </heliossetting>
            <heliossetting>
                <videoheight>311</videoheight>
            </heliossetting>
        </gallerysetting>
    </default>
  <modules>
    <Helios_Videogallery>
      <version>0.1.1</version>
    </Helios_Videogallery>
  </modules>
  <frontend>
    <routers>
      <videogallery>
        <use>standard</use>
          <args>
            <module>Helios_Videogallery</module>
            <frontName>videogallery</frontName>
          </args>
      </videogallery>
    </routers>
		<layout>
		  <updates>
			<videogallery>
			  <file>videogallery.xml</file>
			</videogallery>
		  </updates>
		</layout>
  </frontend>
  <global>
    <helpers>
      <videogallery>
        <class>Helios_Videogallery_Helper</class>
      </videogallery>
    </helpers>
	<blocks>
	  <videogallery>
		<class>Helios_Videogallery_Block</class>
	  </videogallery>
	</blocks>
	<models>
	  <videogallery>
		<class>Helios_Videogallery_Model</class>
		<resourceModel>videogallery_mysql4</resourceModel>
	  </videogallery>
	  <videogallery_mysql4>
		<class>Helios_Videogallery_Model_Mysql4</class>
		<entities>		  
			  <videogallery>
				<table>videogallery</table>
			  </videogallery>
        </entities>
	  </videogallery_mysql4>
	</models>
	<resources>
	  <videogallery_setup>
		<setup>
		  <module>Helios_Videogallery</module>
		</setup>
		<connection>
		  <use>core_setup</use>
		</connection>
	  </videogallery_setup>
	  <videogallery_write>
		<connection>
		  <use>core_write</use>
		</connection>
	  </videogallery_write>
	  <videogallery_read>
		<connection>
		  <use>core_read</use>
		</connection>
	  </videogallery_read>
	</resources>
  </global>
  <admin>
	<routers>
	  <videogallery>
	    <use>admin</use>
		<args>
		  <module>Helios_Videogallery</module>
		  <frontName>videogallery</frontName>
		</args>
	  </videogallery>
	</routers>
  </admin>
  <adminhtml>
	<menu>
	  <videogallery module="videogallery">
		<title>Video Gallery</title>
		<sort_order>80</sort_order>
		<children>
		  <videogallery module="videogallery">
		    <title>Manage Video Gallery</title>
			<sort_order>0</sort_order>
			<action>videogallery/adminhtml_videogallery</action>
		  </videogallery>
          <videogallerysetting module="videogallery">
                <title>Video Gallery Settings</title>
                <sort_order>1</sort_order>
                <action>adminhtml/system_config/edit/section/gallerysetting</action>
          </videogallerysetting>
		</children>
	  </videogallery>
	</menu>
	<acl>
	  <resources>
		<all>
		  <title>Allow Everything</title>
		</all>
		<admin>
		  <children>
			<videogallery translate="title" module="videogallery">
			  <title>Video Gallery</title>
			  <sort_order>1000</sort_order>
			  <children>
		  <videogallery translate="title">
			<title>Manage Videogallery</title>
			<sort_order>0</sort_order>
		  </videogallery>
			  </children>
			</videogallery>
		  </children>
		</admin>
	  </resources>
	</acl>
	<layout>
	  <updates>
		<videogallery>
		  <file>videogallery.xml</file>
		</videogallery>
	  </updates>
	</layout>
  </adminhtml>
</config> 